@media only screen and (max-width: 600px)
{
    img
    {
        width: 80vw;
        display: block;
    }
}

p {
    white-space: pre-line;  
    vertical-align: bottom;
}

#b-logo {
    width: 6vw;
}